@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.mdl-mobile{
    display: none;
}
button{outline: none !important;cursor: pointer;}
@media (max-width: 1390px){
    .menu-main li {
        padding: 15px 30px;
        text-align: center;
    }
}

@media (max-width:1248px) {
    .menu-main li {
        padding: 15px 13px;
        text-align: center;
    }
    #CarouselHome .carousel-item img {
        height: 500px;
        opacity: 0;
    }
    .border-content {
        border-top: 500px solid #0c1b41cc;
        border-right: 100px solid transparent;
    }
    .content-slider {
        width: 60%;
    }
    .content-slider .dataContent {
        padding: 100px 50px;
    }
    .content-slider .dataContent h2 {
        font-size: 40px;
    }
    .content-slider .dataContent label {
        font-size: 36px;
    }
    .content-slider ul li {
        display: inline-block;
        width: 48%;
        font-size: 15px;
    }
    .content-slider a.btn-button {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 10px;
    }
}

@media (max-width:1120px) {
    header{
        margin-top: 49px;
    }
    .mdl-desktop{
        display: none;
    }
    .mdl-mobile{
        display: block;
    }
    #CarouselHome .carousel-item img {
        height: 500px;
        opacity: 0;
    }
    .border-content {
        border-top: 500px solid #0c1b41cc;
        border-right: 40px solid transparent;
    }
    .content-slider {
        width: 80%;
    }
    .content-slider .dataContent {
        padding:100px 50px;
    }
    .content-slider .dataContent h2 {
        font-size: 40px;
    }
    .content-slider .dataContent label {
        font-size: 36px;
    }
    .content-slider ul li {
        display: inline-block;
        width: 48%;
        font-size: 15px;
    }
    .content-slider a.btn-button {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 10px;
    }
    .mobile-mini-cart{
        padding: 5px 10px;
    }
    .mobile-mini-cart .cart{
        top: 2px;
        position: relative;
        width: 100%;
    }
    .search-product input{
        border: none;
    }
}

@media (max-width:920px) {
    #CarouselHome .carousel-item img {
        height: 500px;
        opacity: 0;
    }
    .border-content {
        border-top: 500px solid #0c1b41cc;
        border-right: 40px solid transparent;
    }
    .content-slider {
        width: 80%;
    }
    .content-slider .dataContent {
        padding: 100px 50px;
    }
    .content-slider .dataContent h2 {
        font-size: 40px;
    }
    .content-slider .dataContent label {
        font-size: 36px;
    }
    .content-slider ul li {
        display: inline-block;
        width: 48%;
        font-size: 15px;
    }
    .content-slider a.btn-button {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 10px;
    }
}

@media (max-width:768px) {
    #CarouselHome .carousel-item img {
        height: 500px;
        opacity: 0;
    }
    .border-content {
        border-top: 500px solid #0c1b41cc;
        border-right: 40px solid transparent;
    }
    .content-slider {
        width: 80%;
    }
    .content-slider .dataContent {
        padding: 50px;
    }
    .content-slider .dataContent h2 {
        font-size: 24px;
    }
    .content-slider .dataContent label {
        font-size: 20px;
    }
    .content-slider ul li {
        display: inline-block;
        width: 100%;
        font-size: 15px;
    }
    .content-slider a.btn-button {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 10px;
    }
    #slider-thumbnail .slick-list{
        background-color: #fff;
        margin-bottom: 10px;
    }
    #slider-thumbnail a img {
        width: auto;
        height: 80px;
        display: inline-block;
    }
}


/*Mobile**/


a {
    text-decoration: none !important;
}
.mdl-mobile .nav-content{
    display: flex;
}
.mdl-mobile .nav-content .nav-link{
    display: inline-block;
    width: 100%;
}
.mdl-mobile .nav-content .nav-expand-link{
    padding-top: 12px;
    position: relative;
    top: 0;
    width: 30%;
    text-align: center;
    color: #0c1b41;
}
.mdl-mobile ul{
    list-style: none;
    padding: 0;
}
.mdl-mobile .logo{
    margin-top: 0;
}
.mdl-mobile .logo img{
    max-height: 40px;
}
.mdl-mobile .nav-drill > ul{
    border-left: solid 1px #f2f2f2;
}
.mdl-mobile .nav-item .headline{
    color: #0c1b41;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 15px;
}
.mdl-mobile .nav-item .hotline a{
    color: #0c1b41;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 15px;
}
.nav-top {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    z-index: 101;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    background-color: #0c1b41;
    top: 0;
}
.nav-top .hamburger {
    color: #fff;
    cursor: pointer;
    font-size: 40px;
}

.nav-drill {
    margin-top: 50px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.nav-is-toggled .nav-drill {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.nav-is-toggled::after {
    opacity: 1;
    visibility: visible;
}

.nav-drill {
    display: -webkit-box;
    display: flex;
    position: fixed;
    z-index: 100;
    top: 1px;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: 0.45s;
    transition: 0.45s;
}
.nav-items {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
}
.nav-item:not(:last-child) {
    border-bottom: solid 1px #d5dbea;
}
.nav-link {
    display: block;
    padding: 0.875em 1em;
    background-color: #fff;
    color: #0c1b41;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
}
.nav-expand-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #daf9f4;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    visibility: hidden;
}
.nav-expand-content .nav-item:not(:last-child) {
    border-bottom: solid 1px #d5dbea;
}
.nav-expand-content .nav-link {
    background-color: #daf9f4;
}
.nav-expand-content .nav-back-link {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: #29385f !important;
    color: #fff;
}
.nav-expand-content .nav-back-link::before {
    content: 'chevron_left';
    margin-right: 0.5em;
    font-family: 'Material Icons';
    top: 8px;
    position: relative;
    font-size: 30px;
}
.nav-expand-link {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.nav-expand-link::after {
    content: "chevron_right";
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    font-family: 'Material Icons';
    font-size: 30px;
}
.nav-expand.active > .nav-expand-content {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
}
.nav-expand .nav-expand-content {
    background-color: #dde4f7;
}
.nav-expand .nav-expand-content .nav-link {
    background-color: #dde4f7;
}
.nav-expand .nav-expand-content .nav-expand-content {
    background-color: #aff1e6;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-link {
    background-color: #aff1e6;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
    background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
    background-color: #59e1cb;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    background-color: #59e1cb;
}


/*Loading page*/
#loadingpage{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0c1b4199;
    top: 0;
    left: 0;
    z-index: 1100;
}
.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: calc( 50% - 75px);
    left: calc( 50% - 75px);
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 72px;
        left: 72px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 144px;
        height: 144px;
        opacity: 0;
    }
}

.lds-ellipsis {
    position: relative;
    height: 40px;
    width: 80px;
    margin: 0 auto;
}
.lds-ellipsis div {
    position: absolute;
    top: 15px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #0c1b41;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


/*Slider thumbnail product*/
.owl-carousel-thumbnail{
    transform: rotate(90deg);
    width: 500px;
    margin-top:150px;
    margin-bottom:150px;
}
.owl-carousel-thumbnail .item{
    transform: rotate(-90deg);
}
.owl-carousel-thumbnail .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% + 20px);
    top: calc(50% - 28px);
    left: -10px;
}
.owl-carousel-thumbnail .owl-nav .owl-prev,
.owl-carousel-thumbnail .owl-nav .owl-next{
    font-size:36px;
    top:unset;
    bottom: 15px;
}
.form-control.error {
    border-color: red !important;
}
.billing-form .common-input {
    margin-top: 20px;
}
.checkout_page{
    color: #0d1b42;
}
.order-wrapper {
    background: #f2f2f2;
    padding: 20px 15px;
}
.billing-title {
    border-bottom: 1px solid #DDDDDD;
    line-height: 1.3em;
    padding-bottom: 10px;
}
.list-row h6{
    font-size: 20px;
    font-weight: bold;
}


.carousel-fade .carousel-item {
     transition: ease-in 2s;
 }
.carousel-fade .carousel-item.active{
    transition: ease-out 4s;
}
.order-container{
    max-width:  800px;
    margin: 0 auto;
}


